/Task
/venv
/.idea
.vscode/
/__pycache__
config/__pycache__
habits/__pycache__
habits/services/__pycache__
habits/migrations/__pycache__
habits/management/commands/__pycache__
user_auth/__pycache__
user_auth/migrations/__pycache__
user_auth/management/commands/__pycache__/
user_auth/services/__pycache__/
.env
.coverage
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celery_state.db
log.txt
